<footer>
    <p>made by <a class="footer-link" href="https://vanajmoorthy.com" target="_blank">vanaj
            moorthy</a>.</p>
    <p>code available on <a class="footer-link" href="https://github.com/vanajmoorthy/mcow.ml"
            target="_blank">github</a>.
    </p>
</footer>
</div>