<div>
    <form action="/shorten" method="POST">
        <div class="long">
            <label for="long">ENTER URL TO SHORTEN <span class="mandatory-star">*</span></label>
            <input required type="url" placeholder="Enter long URL" name="long" id="long">
        </div>
        <div class="short">
            <label for="short">CUSTOMISE BACK HALF</label>
            <input type="text" placeholder="mcow.ml/" name="short" id="short">
            <% if (doErrorsExist) {%>
                <p class="error">
                    <%= errors %>
                </p>
                <%}%>
        </div>

        <div class="captcha-container">
            <div data-theme="dark" class="g-recaptcha" data-sitekey="6LfTw7cZAAAAAJc8y0lPCEdIbM72Pf7CWpt3ziPf"></div>
        </div>
        <div class="info">

            <p><i class="fas fa-info-circle"></i>You can view stats for your short url at
                mcow.ml/stats/shorturl</p>
        </div>
        <div class="button">
            <button type="submit">SHORTEN</button>
        </div>
    </form>
</div>