<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MooCow.ml ЁЯРо</title>
</head>

<body>
    <h1>MooCow.ml ЁЯРо</h1>
    <form action="/shorten" method="POST">
        <input required type="url" placeholder="Enter your URL..." name="long" id="long">
        <input type="text" placeholder="Enter your backlink" name="short" id="short">
        <button type="submit">Shrink URL!</button>
    </form>
    <div>
        <a href=<%= shortenedURL %>><%= shortened %></a>
    </div>
</body>

</html>
