html {
	height: -webkit-fill-available;
}

body {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	background-color: #29263e;
	font-family: canada-type-gibson, sans-serif;
	min-height: -webkit-fill-available;
}

main {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: -webkit-fill-available;
	height: calc(100vh - 4rem);
	padding: 2rem 2rem;
}

.flex {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.form {
	display: flex;
	flex-direction: column;
}

input {
	width: 94%;
	border: none;
	border-radius: 12px;
	padding: 10px 10px;
	background-color: #4d4a66;
	margin: 5px 0 30px 0;
	color: white;
	font-family: "canada-type-gibson";
	font-size: 1rem;
}

::-webkit-input-placeholder {
	/* Edge */
	color: #bfbfbf;
	font-family: "canada-type-gibson";
	font-size: 1rem;
}

:-ms-input-placeholder {
	/* Internet Explorer 10-11 */
	color: #bfbfbf;
	font-family: "canada-type-gibson";
	font-size: 1rem;
}

::placeholder {
	color: #bfbfbf;
	font-family: "canada-type-gibson";
	font-size: 1rem;
}

label {
	color: white;
	margin-bottom: 20px;
}

.form-and-title h1 {
	color: #82bbcf;
	text-align: center;
	font-weight: 600;
}

form {
	margin-top: 50px;
}

.output {
	/* opacity: 0; */
	/* pointer-events: none; */
	background-color: #4d4a66;
	border-radius: 12px;
	padding: 10px 20px;
	margin: 30px 0;
}

.footer-link {
	color: white;
	text-decoration: underline;
}

.output p {
	color: white;
	text-align: center;
}

.heading {
	text-align: center;
}

.heading .cow {
	margin-left: 10px;
}

.heading h1 {
	vertical-align: bottom;
}

.heading h1,
.heading .cow {
	display: inline;
}

.cow {
	vertical-align: baseline;
}

.fa-copy {
	margin-left: 10px;
}

.fa-copy:hover {
	cursor: pointer;
	color: #82bbcf;
	transition: 0.3s ease all;
}

.output h1 {
	text-align: center;
	font-weight: 600;
	color: white;
	font-size: 1.6rem;
}

h1 a:hover {
	color: #82bbcf;
	transition: 0.3s ease all;
}

h1 a {
	color: inherit;
}

.button {
	display: flex;
}

button {
	border: none;
	background-color: #82bbcf;
	color: white;
	font-family: "canada-type-gibson";
	font-size: 1rem;
	margin: auto;
	padding: 12px 15px 10px 15px;
	border-radius: 12px;
}

button:hover {
	background-color: #6090a1;
	transition: 0.3s ease all;
	cursor: pointer;
}

footer {
	border-top: 2px solid #82bbcf;
	padding-top: 10px;
}

footer p {
	text-align: center;
	color: white;
	font-size: 1.2rem;
	margin: 5px 0 0 0;
}

@media screen and (max-width: 640px) {
	.output h1 {
		font-size: 1.5rem;
	}
}

@media screen and (max-width: 480px) {
	.output h1 {
		font-size: 1.3rem;
	}
}
